{% extends 'base.html' %}

{% block content %}
<div class="content-container">
    <div class="post-entry">
        <h2>{{ post.title }}</h2>
        <div class="post-meta">
            <strong>Author:</strong> {{ post.author }} | <strong>Posted:</strong> {{ post.created_at|date:"M d, Y" }}
        </div>
        <div class="post-body">
            {{ post.body }}
        </div>
        {% if user.is_authenticated and user == post.author %}
        <div class="button-group">
            <a href="{% url 'post_edit' post.pk %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Delete</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}